@{
    ViewData["Title"] = "Skills";
}

<link rel="stylesheet" type="text/css" href="~/css/site.css">
<link rel="stylesheet" type="text/css" href="~/css/skill.css">

<div class="row">
    <div class="card cardForm" style="width: 100%;">
        <div class="container">
            <div class="content">
                <h1 style="font-weight: 800; margin: 20px;">Alexander Castro's Skills</h1>
            </div>
        </div>
    </div>
</div>

<body>
    <div class="row">
        <div class="column" style="width: 100%;">
            <div class="card cardForm">
                <div class="container">
                    <div class="content"> 

                        <div class="tab" style="margin: 20px;">
                            <button class="tablinks" onclick="openTab(event, 'lang')" id="defaultOpen">Programming Languages</button>
                            <button class="tablinks" onclick="openTab(event, 'tech')">Technologies</button>
                            <button class="tablinks" onclick="openTab(event, 'topics')">Topics in Computer Science</button>
                            <!-- <button class="tablinks" onclick="openTab(event, 'other')">Other Skills</button> -->
                        </div>

                        <div id="lang" class="tabcontent">

                            <h2 class="cardTitle" style="font-size: xx-large;">Programming Languages</h2>
                            <h5 class="cardSubtitle">Java:</h5>
                                <p class="text indent">
                                    Java is the first real programming language that I learned.
                                    I have used it extensively throughout most of my major 
                                    projects and during my first internship. I would definitely 
                                    consider Java to be my most proficient language. 
                                </p>
                            <h5 class="cardSubtitle">SQL:</h5>
                                <p class="text indent">
                                    SQL is another language that I have used extensively both in
                                    school and at my first internship. I have experience using 
                                    SQLite in a personal project of mine. I also have experience using
                                    Postgres SQL for a major school project. Finally, I also have experience
                                    using OracleMySQL at my first internship.
                                </p>
                            <h5 class="cardSubtitle">C:</h5>
                                <p class="text indent">
                                    C is the second programming language that I learned.
                                    I have used C in numerous computer systems school projects.
                                    Some of the projects include a Finite State Machine, and a 
                                    small socket program, and several security protocols using
                                    openSSL. I feel that I am proficient enough in C for practical
                                    use.
                                </p>
                            <h5 class="cardSubtitle">BASH Shell Script:</h5>
                                <p class="text indent">
                                    Bash Shell Scripts are a very useful tool that I use to automate
                                    the building, cleaning, and testing of my projects. I have used them
                                    in a majority of my projects within the last couple of years. I have also 
                                    created a OSINT tool using a BASH script for passive reconnaissance. 
                                </p>
                            <h5 class="cardSubtitle">HTML:</h5>
                                <p class="text indent">
                                    HTML was a language that I messed around with when I was in High School. 
                                    However, I learned it extensively when I created webpages at my internships.
                                    Futhermore, this very website uses .cshtml files for the frontend interface, which
                                    is a technology built on top of HTML for the dotnet core framework.
                                </p>
                            <h5 class="cardSubtitle">JavaScript:</h5>
                                <p class="text indent">
                                    JavaScript is a language that I dont particularly like, however I have used it
                                    quite a bit it the past. I have used it along with JQuery to build dynamic webpages
                                    for both my internships, some school projects, as well as this website.
                                </p>
                            <h5 class="cardSubtitle">GoLang:</h5>
                                <p class="text indent">
                                    GoLang is a language that I learned completely on my own over the course of a couple
                                    months. I decided to learn it because I was interested in a low-level language that 
                                    is not as cumbersome as C. I also was very interested in GO routines, which allow for
                                    fast and simple concurrency. I wrote one school project in GoLang, as well as one personal
                                    project in GoLang.
                                </p>
                            <h5 class="cardSubtitle">Python:</h5>
                                <p class="text indent">
                                    Python is a language that I have never fully gotten into, but I have used for numerous
                                    projects on the side. I think that the interpreted nature of the language is appealing and 
                                    makes writing code much easier and faster for the programmer. I plan on diving deeper into
                                     this language next year when I start learning about Machine Learning.
                                </p>
                            <h5 class="cardSubtitle">Ruby:</h5>
                                <p class="text indent">
                                    Ruby is a language that I really enjoy using. I personally enjoy this language more than
                                    python because it fully embraces the object-oriented paradigm. I do recognize that ruby is
                                    not exactly a popular language these days, and it is on the way out. One saving grace is that
                                    the Metasploit framework is written in ruby and if I do any exploit development in the future, 
                                    my ruby knowledge will come in useful.
                                </p>
                            <h5 class="cardSubtitle">CSS:</h5>
                                <p class="text indent">
                                    CSS is a language that I think is easy to write, however I am just not very good at frontend 
                                    interface design. I learned CSS completely through the internet both duing my internship as 
                                    well as when I was writing this website.
                                </p>
                            <h5 class="cardSubtitle">C#:</h5>
                                <p class="text indent">
                                    C# is a language that I was first introduced to when writing this website. I wanted to learn 
                                    the Dotnet Core framework for my second internship at the Virginia DMV. I have found it pretty 
                                    easy to learn because of the similarities that it has with Java. However, I have not used it in 
                                    any projects yet other than this website.
                                </p>
                            <h5 class="cardSubtitle">Haskell:</h5>
                                <p class="text indent">
                                    Haskell is my introduction to functional programming. I have found it to be a very difficult 
                                    language to learn because it shares very few similarities with the languages I have worked with
                                    in the past. I have used the language for two school projects now, and I do understand it at a very
                                    basic level. 
                                </p>

                            <hr class="dashed">

                            <h2 class="cardTitle" style="font-size: xx-large;">Programming Languages Proficiency Graph</h2>

                            <p class="bartitle">Java</p>
                            <div class="skill-container">
                                <div class="skills java">95%</div>
                            </div>

                            <p class="bartitle">SQL</p>
                            <div class="skill-container">
                                <div class="skills sql">90%</div>
                            </div>

                            <p class="bartitle">C</p>
                            <div class="skill-container">
                                <div class="skills c">80%</div>
                            </div>

                            <p class="bartitle">BASH Shell Script</p>
                            <div class="skill-container">
                                <div class="skills shellScript">80%</div>
                            </div>

                            <p class="bartitle">HTML</p>
                            <div class="skill-container">
                                <div class="skills html">80%</div>
                            </div>

                            <p class="bartitle">JavaScript</p>
                            <div class="skill-container">
                                <div class="skills js">70%</div>
                            </div>

                            <p class="bartitle">Golang</p>
                            <div class="skill-container">
                                <div class="skills golang">70%</div>
                            </div>

                            <p class="bartitle">Python</p>
                            <div class="skill-container">
                                <div class="skills python">65%</div>
                            </div>

                            <p class="bartitle">Ruby</p>
                            <div class="skill-container">
                                <div class="skills ruby">60%</div>
                            </div>

                            <p class="bartitle">CSS</p>
                            <div class="skill-container">
                                <div class="skills css">60%</div>
                            </div>

                            <p class="bartitle">C#</p>
                            <div class="skill-container">
                                <div class="skills cs">50%</div>
                            </div>

                            <p class="bartitle">Haskell</p>
                            <div class="skill-container">
                                <div class="skills haskell">40%</div>
                            </div>
                        </div>

                        <div id="tech" class="tabcontent">

                            <h2 class="cardTitle" style="font-size: xx-large;">Technologies</h2>
                            <h5 class="cardSubtitle">Linux (Operating System):</h5>
                                <p class="text indent">
                                    Linux is the operating system that I studied extensively at JMU. 
                                    I have studied the File System, the hardware, and used the BASH 
                                    command line for several years. I am most familar with the Debian 
                                    branch of Linux because I have mostly worked with Ubuntu and Kali 
                                    Linux. However, I have used Manjaro which is apart of the Arch Linux
                                    family.
                                </p>
                            <h5 class="cardSubtitle">BASH Shell:</h5>
                                <p class="text indent">
                                    The BASH Shell is something I work within on the daily. I have used 
                                    the BASH shell in both a Linux and Mac OS enviornment. I am very comfortable
                                    using most of the major linux commands as well as making use of pipes, 
                                    backgrounding, and concurrency. I also incorporate these skills when 
                                    doing BASH shell scripting.
                                </p>
                            <h5 class="cardSubtitle">VIM/TMUX:</h5>
                                <p class="text indent">
                                    VIM and TMUX are two command line interfaces that I use on the daily. I use
                                    VIM to view and edit loads of text based documents. I use TMUX to manage my
                                    multi-terminal setup and be able to save my terminal sessions. The combonation 
                                    of these two applications allow me to do a lot of my daily tasks in terminal and
                                    keep it effcient.
                                </p>
                            <h5 class="cardSubtitle">Kali Linux:</h5>
                                <p class="text indent">
                                    Kali Linux is the distribution of Linux that I am most familar with. I use Kali Linux
                                    to practice pennetration tasting when doing HackTheBox machines. I am familar with
                                    a vast majority of the tools that come with Kali. I have a virtual machine of Kali 
                                    Linux on my Macbook as well as a copy on my raspberry pi. 
                                </p>
                            <h5 class="cardSubtitle">Eclipse:</h5>
                                <p class="text indent">
                                    Eclipse is an IDE that I have used for a couple of years and feel very comfortable
                                    using. I have used it for a large portion of my school projects and I also used it 
                                    when working my first Internship at Virginia ABC. I don't typcially use this enviornment
                                    as much any longer because of the amount of resources it takes up, as well as I just prefer
                                    more lightweight enviornments.
                                </p>
                            <h5 class="cardSubtitle">Visual Studio Code:</h5>
                                <p class="text indent">
                                    Visual Studio Code is currently my favorite development enviorment. I love the lightweight 
                                    nature of the enviorment and the language support. The integrated terminal and 
                                    Git support makes development much faster and much easier. 
                                </p>
                            <h5 class="cardSubtitle">Git:</h5>
                                <p class="text indent">
                                    Git is a version control platform that I use for all of my projects now. I personally use GitHub
                                    because I like the social nature of the platform and I find it to be the most universally known. I have
                                    also used GitLab for some of my school projects.
                                </p>
                            <h5 class="cardSubtitle">SQLite:</h5>
                                <p class="text indent">
                                    SQLite is an application that I have used in both a personal project as well as in a school project. I
                                    would choose this application for any smaller type of application, that doesn't need the client-server 
                                    architecture.
                                </p>
                            <h5 class="cardSubtitle">PGadmin / Oracle MySQL:</h5>
                                <p class="text indent">
                                    Oracle MySQL is an application that I used extensively at my first internship with Virginia ABC.
                                    PGadmin is an application that I have only used in a school project, however I found it very similar
                                    to Oracle MySQL and would feel equally comfortable using either application. I would choose these kinds 
                                    of applications over SQLite if the Client-Sever Architecture seems necessary.
                                </p>
                            <h5 class="cardSubtitle">Java Spring:</h5>
                                <p class="text indent">
                                    Java Spring is the Web Framework used at my first internship at Virginia ABC. 
                                    Using the MVC design pattern, the I designed three new webpages for the internal
                                    website at Virginia ABC. I felt comfortable writing each component of the framework.
                                </p>
                            <h5 class="cardSubtitle">.NET Core:</h5>
                                <p class="text indent">
                                    .Net Core is the Web Framework used at Virginia DMV. In preperation to working at the 
                                    DMV, I decided to make this Web Application Portfolio in order to learn the .NET Core 
                                    Framework. I also used the MVC design pattern for my personal site because I find it 
                                    to be the most straightforward approach to Web development.
                                </p>
                            <h5 class="cardSubtitle">Windows (Operating System):</h5>
                                <p class="text indent">
                                    The Windows Operation System is something that I am familar with from mostly just a user 
                                    perspective. I don't own a Windows Machine, however I do use them frequently because the 
                                    University has them all over campus. I have spent some time using Windows Powershell, and the
                                    windows command prompt. I have some expericence setting up a vulnerable windows active directory
                                    and windows server when for pentesting practice.
                                </p>
                            <h5 class="cardSubtitle">JSON:</h5>
                                <p class="text indent">
                                    The JSON format is something that I have used in the past when transacting data from a client back 
                                    to the server using an AJAX call. Other than this expericence with it, I have never really used it 
                                    in my studies in school.
                                </p>

                            <hr class="dashed">

                            <h2 class="cardTitle" style="font-size: xx-large;">Technologies Proficiency Graph</h2>

                            <p class="bartitle">Linux (Operating System)</p>
                            <div class="skill-container">
                                <div class="skills linux">95%</div>
                            </div>

                            <p class="bartitle">BASH Shell</p>
                            <div class="skill-container">
                                <div class="skills bash">95%</div>
                            </div>

                            <p class="bartitle">VIM / TMUX</p>
                            <div class="skill-container">
                                <div class="skills vimTmux">95%</div>
                            </div>

                            <p class="bartitle">Kali Linux</p>
                            <div class="skill-container">
                                <div class="skills kali">90%</div>
                            </div>

                            <p class="bartitle">Eclipse</p>
                            <div class="skill-container">
                                <div class="skills eclipse">90%</div>
                            </div>

                            <p class="bartitle">Visual Studio Code</p>
                            <div class="skill-container">
                                <div class="skills vscode">90%</div>
                            </div>

                            <p class="bartitle">Git</p>
                            <div class="skill-container">
                                <div class="skills git">90%</div>
                            </div>
                            
                            <p class="bartitle">SQLite</p>
                            <div class="skill-container">
                                <div class="skills sqlite">80%</div>
                            </div>

                            <p class="bartitle">PGadmin / Oracle MySQL</p>
                            <div class="skill-container">
                                <div class="skills pgadmin">80%</div>
                            </div>

                            <p class="bartitle">Java Spring</p>
                            <div class="skill-container">
                                <div class="skills spring">75%</div>
                            </div>

                            <p class="bartitle">.NET Core</p>
                            <div class="skill-container">
                                <div class="skills dotnet">75%</div>
                            </div>

                            <p class="bartitle">Windows (Operating System)</p>
                            <div class="skill-container">
                                <div class="skills windows">65%</div>
                            </div>

                            <p class="bartitle">JSON</p>
                            <div class="skill-container">
                                <div class="skills json">55%</div>
                            </div>

                        </div>

                        <div id="topics" class="tabcontent">

                            <h2 class="cardTitle" style="font-size: xx-large;">Topics</h2>
                                <h5 class="cardSubtitle">SCRUM:</h5>
                                    <p class="text indent">
                                        SCRUM or Agile Development was the main focus of my software engineering 
                                        project in school. We worked as a team of five with a project manager in 
                                        a series of sprints to develop a Java Desktop Appplication. We were issued
                                        tickets from the Project Manager and we were responsible for marking tasks
                                        as completed so that we could track production. I also worked in an agile 
                                        enviorment at Virginia ABC with a Project Manager and BSA that assigned me
                                        tickets and I would complete them while depending on ticket priority.
                                    </p>
                                <h5 class="cardSubtitle">Information Security:</h5>
                                    <p class="text indent">
                                        I have taken several Information Security Courses at JMU including a general 
                                        course on Information Security, and the follow up class called Cyber Defense.
                                        From the courses I have learn about access control, Cryptography, Network security,
                                        Firewalls, and many other topics in the field. The second course took a much more hands on approach
                                        and had us doing some penetration testing as well as some securing of compromised networks.
                                    </p>
                                <h5 class="cardSubtitle">Cryptography:</h5>
                                    <p class="text indent">
                                        I took an entire class on Cryptography. I learned about symmetric encryption, asymmetric encryption,
                                        crytographic hash functions, and block chain technology. We covered historical ciphers such as the 
                                        Vigenre and Playfair cipher. (I have implemented both on GitHub). We learned about crytographic attacks 
                                        such as known ciphertext, known plaintext, chosen ciphertext, etc.
                                    </p>
                                <h5 class="cardSubtitle">Version Control (Git/SVN):</h5>
                                    <p class="text indent">
                                        I have used both Git and SVN in the past. I used SVN for my software engineering project in school. 
                                        However since then, I have completely switched to git and I store all of my work on github. Git 
                                        is a very helpful tool for me because it allows me to feel safe about not losing my code, and also 
                                        not having to store all of my projects on my hard drive.
                                    </p>
                                <h5 class="cardSubtitle">Penetration Testing:</h5>
                                    <p class="text indent">
                                        A majority of the experience that I have with Penetration Testing has been on my own time. I use a site
                                        called HackTheBox.eu to practice penetration testing. HackTheBox hosts numerous machines on their network and
                                        using a VPN, you are able to connect to their network and attack various machines. They offer 
                                        a VIP service that I have, in which you can follow step by step guides to hack each machine. These guides 
                                        have taught me a ton about penetration testing including how to use tools like nmap, metasploit, nikto, burpsuite,
                                        dirbuster, and many many more. I also have done some penetration testing within the Cyber Defense course in which 
                                        we perform SQL injection, XSS attacks, Buffer Overflow and Password Cracking. 
                                    </p>
                                <h5 class="cardSubtitle">Networking (OSI Model, TCP/IP, Network Design):</h5>
                                    <p class="text indent">
                                        Most of the networking expericence I have gotten were between the second Computer Systems course I took and the 
                                        Computer Information Systems course about Enterprise Architecture. We learned about the Internet Model/OSI model,
                                        and the intricacies of each layer. We practiced by modeling both LAN and WAN at both the Data-Link and Network Level.
                                        We dicussed pros and cons of cloud architecture and why it can be beneficial to a organization. 
                                    </p>
                                <h5 class="cardSubtitle">Discrete Mathematics:</h5>
                                    <p class="text indent">
                                        I have taken two Discrete Mathematics courses and I am a Teaching Assistant for the first course. Within the 
                                        first course we learned about propositonal logic, set theory, different methods of proofs. Within the second course,
                                        we tackled topics on number theory, graph theory, regular expressions, and linear algebra. As a teaching assistant, I
                                        teach students about all the topics mentioned under the first course description.
                                    </p>
                                <h5 class="cardSubtitle">Low-Level Computer Systems:</h5>
                                    <p class="text indent">
                                        I have taken to courses on Low-Level Computer Systems. We used the C programming language to model a semi-realistic 
                                        instruction set called y86. The fictitious y86 is a largely simplified assembly instruction set that allowed us students to model
                                        the Von Numen Architecture within a C program. With this instruction set, we built a simple disassembler in C. Within
                                        the second course, we created a Finite State Machine, a simple multi-process calculator using IPC mechanisms to transfer
                                        data between the processes, and a socket program to transfer messages from one machine to another.
                                    </p>
                                <h5 class="cardSubtitle">Data Structures and Algorithms:</h5>
                                    <p class="text indent">
                                        I have taken a course focused on the Data Structures and Algorithms. We discussed complexity classes, recursive functions, 
                                        sorting, and searching. We discussed data structures such as lists, dictionaries, maps, trees, and many more. These building 
                                        blocks have been critical in my ability to create effcient and effective solutions to various projects.
                                    </p>
                                <h5 class="cardSubtitle">Database Systems:</h5>
                                    <p class="text indent">
                                        I have taken a course focused on Database Systems. We discussed database design, normalization, SQL programming, and all
                                        the powerful mechinsims within database mangagement system. I also did a lot of database management when I worked at my 
                                        first internship at Virginia ABC. 
                                    </p>
                                <h5 class="cardSubtitle">Concurrency Programming:</h5>
                                    <p class="text indent">
                                        Within my second computer systems course, we learned about multi-processing, and multi-threading within the C programming 
                                        language. We built small projects for each of these concepts. After the fact, I have written a few more concurrent 
                                        programs using GoLang, which makes concurrent programming very easy with Go routines.
                                    </p>

                            <hr class="dashed">

                            <h2 class="cardTitle" style="font-size: xx-large;">Topics Proficiency Graph</h2>

                            <p class="bartitle">SCRUM</p>
                            <div class="skill-container">
                                <div class="skills scrum">95%</div>
                            </div>

                            <p class="bartitle">Information Security</p>
                            <div class="skill-container">
                                <div class="skills infosec">95%</div>
                            </div>

                            <p class="bartitle">Cryptography</p>
                            <div class="skill-container">
                                <div class="skills crypto">90%</div>
                            </div>

                            <p class="bartitle">Version Control (Git/SVN)</p>
                            <div class="skill-container">
                                <div class="skills versionControl">80%</div>
                            </div>

                            <p class="bartitle">Penetration Testing with Kali Linux</p>
                            <div class="skill-container">
                                <div class="skills pentesting">80%</div>
                            </div>

                            <p class="bartitle">Networking (OSI Model, TCP/IP, Network Design)</p>
                            <div class="skill-container">
                                <div class="skills networking">80%</div>
                            </div>

                            <p class="bartitle">Discrete Mathematics</p>
                            <div class="skill-container">
                                <div class="skills discrete">80%</div>
                            </div>

                            <p class="bartitle">Low-Level Computer Systems</p>
                            <div class="skill-container">
                                <div class="skills systems">75%</div>
                            </div>

                            <p class="bartitle">Data Structures And Algorithms</p>
                            <div class="skill-container">
                                <div class="skills dataStructures">75%</div>
                            </div>

                            <p class="bartitle">Database Systems</p>
                            <div class="skill-container">
                                <div class="skills database">75%</div>
                            </div>

                            <p class="bartitle">Concurrency Programming</p>
                            <div class="skill-container">
                                <div class="skills concurrency">65%</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>

<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
<script src="~/js/site.js" asp-append-version="true"></script>
<script src="~/js/skill.js" asp-append-version="true"></script>
