@{
    ViewData["Title"] = "Contact";
}

<link rel="stylesheet" type="text/css" href="~/css/site.css">

<body>
        <div class="card-deck">
            <div class="row" style="width: 100%;">
                <div class="card mb-3 cardForm">
                    <div class="row no-gutters">
                        <div class="col-md-9">
                            <div class="card-header">
                                <h2 class="cardTitle text-center">Contact Me at the following:</h2>
                            </div>
                            <div class="card-body">
                                <h4 class="cardSubtitle indent"><strong>Phone: </strong>804-382-0909</h4>
                                <h4 class="cardSubtitle indent"><strong>Personal Email: </strong>Alexcast129@gmail.com</h4>
                                <h4 class="cardSubtitle indent"><strong>School Email: </strong>Castroaj@dukes.jmu.edu</h4>                            </div>
                        </div>
                        <div class="col-md-3">
                            <img class="img-fluid" src="~/css/images/telephone.png" style="width: 100%;">
                        </div>
                    </div>
                </div>
            </div>

            <div class="row" style="width: 100%;">
                <div class="card mb-3 cardForm">
                    <div class="row no-gutters">
                        <div class="col-md-12">
                            <a href="~/pdf/resume.pdf" target="_blank" style="color: black;">
                                <div class="card-header">
                                    <h2 class="cardTitle text-center">Resume (Click to Download)</h2>
                                </div>
                                <img class="img-fluid" src="~/css/images/resume.jpg">
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
</body>

<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
<script src="~/js/site.js" asp-append-version="true"></script>


