@{
    ViewData["Title"] = "Experience";
}

<link rel="stylesheet" type="text/css" href="~/css/site.css">

<body>
        <div class="row">
            <div class="card cardForm" style="width: 100%;">
                <div class="content">
                        <h1 style="font-weight: 800; margin: 20px;">Alexander Castro's Experience</h1>
                </div>
            </div>
        </div>

        <div class="card-deck" style="margin-bottom: 70px;">
            <div class="row">
                <div class="card mb-3 cardForm">
                    <div class="row no-gutters">
                        <div class="col-md-9">
                            <div class="card-header">
                                <h2 class="cardTitle text-center">Discrete Mathematics and Computer Programming Teaching Assistant at JMU</h2>
                            </div>
                            <div class="card-body">
                                <h4 class="cardSubtitle indent"><strong>Location:</strong> Harrisonburg, VA</h4>
                                <h4 class="cardSubtitle indent bottompad"><strong>Duration:</strong> August 2019 - Present</h4>
                                <p class="text">
                                    I offered tutoring and weekly practice sessions for students in CS227 (Discrete Mathematics).
                                    I taught propositional logic, set theory, logical induction, and other methodoligies for 
                                    proving logical assertions. I worked closely with a professor to stay up to date on the course 
                                    materials.
                                </p>
                                <p class="text">
                                    Another portion of my job was to tutor computer programming to lower level students in the 
                                    first two programming courses. Generally the tutoring would involve either the Java or C 
                                    programing languages. Students would come to me with questions about any issues they were 
                                    having with their assignments and I would give guidence on either how to fix an issue or 
                                    clarify a particular concept.
                                </p>
                                <p class="text">
                                    During the Coronavirus outbreak, I worked as an online TA where we did online video conferences
                                    with students that needed help. This was temporary change that lasted for the entirety of the 
                                    outbreak and lasted for a good portion of the semester.
                                </p>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <img class="img-fluid" src="~/css/images/discrete.png" style="width: 100%;">
                            <img class="img-fluid" src="~/css/images/setTheory.png" style="margin-top: 20px; width: 100%;">
                        </div>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="card mb-3 cardForm">
                    <div class="row no-gutters">
                        <div class="col-md-8">
                            <div class="card-header">
                                <h2 class="cardTitle text-center">Software Developer Internship at Virginia ABC</h2>
                            </div>
                            <div class="card-body">
                                <h4 class="cardSubtitle indent"><strong>Location:</strong> Richmond, VA</h4>
                                <h4 class="cardSubtitle indent"><strong>Duration:</strong> May 2019 - August 2019</h4>
                                <h4 class="cardSubtitle indent bottompad"><a href="~/pdf/internshipExperience.pdf" target="_blank">Click here to find out more about this Internship</a></h4>
                                <p class="text">
                                    I worked as a software development intern for the summer of 2019. I worked on both the frontend
                                    and the backend of the in house website for enterprise management. I worked under a project manager 
                                    and with a business analyst in order to develop several webpages for the site. The website stack 
                                    was built with a Java Spring backend, Java Servlet Pages for the frontend, and a Oracle MySQL database
                                    for data management. 
                                </p>
                                <p class="text">
                                    I developed the "Direct Deposit" module, which allowed for new employees to enter
                                    their banking information for up to three seperate banking accounts. Some of the specific 
                                    tasks involved in the development of this module was creating a model for the data that needed to 
                                    be stored in the database. Then fleshing out a view that allowed for the data to be inputed and then 
                                    stored in the database upon signature. The page also encrypted the account numbers of each entry, which 
                                    would provide additional protection whilst in storage.
                                </p>
                                <p class="text">
                                    I also worked on the Wage Offer Letter module, which allowed for new employees to customized and dynamically
                                    created offer letters virtually and digitally sign the the letter. Once the document was signed, the content on the
                                    page was processed, digitally signed, and then stored into the database.
                                </p>   
                            </div>
                        </div>
                        <div class="col-md-4">
                            <img class="img-fluid" src="~/css/images/abc.jpg" style="width: 100%;">
                            <img class="img-fluid" src="~/css/images/software_dev2.png" style="margin-top: 30px; width: 100%;">
                        </div>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="card mb-3 cardForm">
                    <div class="row no-gutters">
                        <div class="col-md-8">
                            <div class="card-header">
                                <h2 class="cardTitle text-center">Landscaper at RVA Landscapes</h2>
                            </div>
                            <div class="card-body">
                                <h4 class="cardSubtitle indent"><strong>Location:</strong> Richmond, VA</h4>
                                <h4 class="cardSubtitle indent bottompad"><strong>Duration:</strong> May 2018 - August 2018</h4>
                                <p class="text">
                                    I worked a full time summer position as a landscaper for RVA landscapes. 
                                    This job included mowing, trimming, mulching, weeding, and power-washing 
                                    for local businesses and residences around the Richmond area. This job
                                    required stamina for upwards of 14 hour shifts, a good work ethic, and 
                                    good communication skills with clients/customers.
                                </p>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <img class="img-fluid" src="~/css/images/rvaLandscapes.jpg" style="width: 100%;">
                            <img class="img-fluid" src="~/css/images/landscaper.png" style="width: 100%;">
                        </div>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="card mb-3 cardForm">
                    <div class="row no-gutters">
                        <div class="col-md-8">
                            <div class="card-header">
                                <h2 class="cardTitle text-center">Food Server at HighLands Country Club</h2>
                            </div>
                            <div class="card-body">
                                <h4 class="cardSubtitle indent"><strong>Location:</strong> Chesterfield, VA</h4>
                                <h4 class="cardSubtitle indent bottompad"><strong>Duration:</strong> April 2017 - August 2017</h4>
                                <p class="text">
                                    I was food runner for the Highlands Country Club in Chesterfield, VA. This job included
                                    cleaning/setting tables, organizing orders for waitresses, delivering orders to customers. 
                                    This job required communication skills, organization skills, and teamwork skills.
                                </p>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <img class="img-fluid" src="~/css/images/highlands.jpg" style="width: 100%;">
                            <img class="img-fluid" src="~/css/images/foodserver.jpg" style="width: 100%;">
                        </div>
                    </div>
                </div>
            </div>

        </div>
</body>

<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
<script src="~/js/site.js" asp-append-version="true"></script>


